# Python ka Chilla with baba Aammar
## To use jupyter notebook
### Our basics of Python
### "01- My first program"

In [1]:

print(2+3)
print("Hello WOrld")
print("we are learning python with ammar")

5
Hello WOrld
we are learning python with ammar

**02- Operators**

In [2]:
print(2+3)
print(3-1)
print(6/2)
print(2*3)
print(13%2)
print(2**3)
print(6//2)
print(3**2/2*3/3+6-4)

5
2
3.0
6
1
8
3
6.5

*PEMDAS*

*left to right sequence*

*03-Strings*

In [3]:
print("Hello WOrld")
print("we are learning python with ammar")
print('test for single quotes')
print("test for duble quotes")
print('''test for triple quotes''')
print("what's up")

Hello WOrld
we are learning python with ammar
test for single quotes
test for duble quotes
test for triple quotes
what's up

*04-Comments*

In [4]:
print(" How are you?")
print("We are learning python with Ammar")
print(2+3)

 How are you?
We are learning python with Ammar
5

*05-Variables*

In [5]:

x=5
print(x)
y=" We are learning python with Ammar"
print(y)
x=x+10
print(x)
type(x)
print(type(x))
print(type(y))
fruit_basket="Mangoes, Oranges"
print(fruit_basket)
print(type(fruit_basket))

5
 We are learning python with Ammar
15
<class 'int'>
<class 'str'>
Mangoes, Oranges
<class 'str'>

*06-Input Variables*

In [6]:
fruit_basket="Mangoes"
print(fruit_basket)
fruit_basket=input("which is your favourite fruit?")
print(fruit_basket)
name=input("what is your name? ")
greetings=("Hello!")
print(greetings,name)
name=input("what is your name? ")
print("Hello!",name)
name=input("what id your name? ")
age=input("how old are you? ")
greetings="Hello!"

print(greetings, name, ",you are still young")

Mangoes
which is your favourite fruit?mangoes
mangoes
what is your name? shahid
Hello! shahid
what is your name? shahid
Hello! shahid
what id your name? shahid
how old are you? 30
Hello! shahid ,you are still young

*07-Conditional Logics*

In [7]:

print(4==4)
print(4!=4)
print(4>3)
print(4<3)
print(3<=5)
print(3>=5)

musab_age=3
age_at_school=4
print(musab_age==age_at_school)

age_at_school=4
musab_age=input("How old is musab? ")
musab_age=int(musab_age)
print(type(musab_age))
print(musab_age==age_at_school)

True
False
True
False
True
False
False
How old is musab? 4
<class 'int'>
True

*08-Type Conversion*

In [8]:
x = 10
y = 10.2
z = "hello"
print(type(x))       
print(type(y))        
print(type(z))       
x = x*y
print(x, type(x)) 
x = x+y
print(x,"type of x is:", type(x))
age=input("what is your age?  ")
age=int(age)
print(age,type(int(age)))
name=input("what is your name?  ")
print(name,type(name))

<class 'int'>
<class 'float'>
<class 'str'>
102.0 <class 'float'>
112.2 type of x is: <class 'float'>
what is your age?  30
30 <class 'int'>
what is your name?  shahid
shahid <class 'str'>

*09-if else elif*

In [10]:
required_age_at_school=5
Musab_age=2


if Musab_age==required_age_at_school:
    print("Musab can go to school")
elif Musab_age>required_age_at_school:
    print("Musab should join higher secondary school")
else:
    print("Musab cannot go to school")

Musab cannot go to school

*10-Functions*

In [11]:

def print_shahid():
    print("Learning with shahid")
    print("Learning with shahid")
    print("Learning with shahid")
print_shahid()

def print_shahid():
    text="we are learning with Aammar"
    print(text)
    print(text)
    print(text)
print_shahid()

def print_shahid(text):
    print(text)
    print(text)
    print(text)
    
print_shahid("We are learning python")

def school_calculator(age, text):
    if age==5:
      print("Musab can go to school)")
    elif age>5:
      print("Musab should join higher school")
    else:
      print("Musab is still a baby")
school_calculator(10, "Musab")

def future_age(age):
    new_age=age+20
    return new_age
    print(new_age)
future_predicted_age=future_age(18)
print(future_predicted_age)

Learning with shahid
Learning with shahid
Learning with shahid
we are learning with Aammar
we are learning with Aammar
we are learning with Aammar
We are learning python
We are learning python
We are learning python
Musab should join higher school
38

*11-Loops*

In [13]:

x= 0
while(x<5):
     print(x)
     x=x+1


for x in range(5,10):
    print(x)


days = ("Mon", "Tue", "wednesday", "Thursday" , "Fri", "sat", "sun")
for d in days:
    if (d=="Fri"):break    
    if (d=="Fri"): continue  
    print(d)

0
1
2
3
4
5
6
7
8
9
Mon
Tue
wednesday
Thursday

*12-Import Libraries*

In [15]:


import math
print("the value of pi is ",math.pi)



import statistics
x=(100,200,200,400)
print(statistics.mean(x))

the value of pi is  3.141592653589793
225

*13-Trouble shootin*

In [23]:
print("x=syntax error")
print("y=run time error")
print("z=symantic error")

print("a=troubleshooting is easy")

x=syntax error
y=run time error
z=symantic error
a=troubleshooting is easy